<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.spring.mybatis.mariadb.ArticleMapper">
    <select id="getAll" resultType="org.example.spring.mybatis.mariadb.Article">
        select * from ARTICLES
    </select>
    <insert id="insert" parameterType="org.example.spring.mybatis.mariadb.Article">
        <!-- 一个 insert 标签只能向一个数据库插入数据 -->
        INSERT INTO ARTICLES (id, title, author)
        VALUES (#{id}, #{title}, #{author});

<!--        INSERT INTO abc (id, title, author)-->
<!--        VALUES (#{id}, #{title}, #{author});-->
    </insert>
</mapper>